@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.line {
  background-color: black;
  padding: 20px; }

/*navbar*/
.header_nav {
  width: 100%;
  height: 80px;
  background-color: black; }

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar__logo img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  margin-left: 30px; }

.bar-btn {
  display: none;
  font-size: 25px;
  color: white;
  margin-right: 20px;
  cursor: pointer; }

.nav__menu {
  position: relative;
  height: 100px;
  top: 0;
  background: none;
  text-align: center;
  transition: none; }

.nav__menu li {
  display: inline-block;
  line-height: 100px;
  margin-right: 40px;
  transition: none; }

.nav__menu li a {
  color: white;
  font-size: 20px;
  font-weight: bold; }

.nav__menu li a.active, .nav__menu li a:hover {
  color: aquamarine;
  transition: .3s; }

#check {
  display: none; }

#check:checked ~ .nav__menu {
  height: 250px;
  display: flex;
  position: absolute;
  width: 100%;
  top: 80px;
  background: black;
  text-align: center;
  transition: all .5s; }

#check:checked ~ .nav__menu li {
  display: block; }

/*footer homepage*/
.footer__homepage {
  width: 100%;
  padding: 14px;
  background-color: black;
  color: white; }
  .footer__homepage-contact-container-title {
    text-align: center; }
  .footer__homepage-contact-container-form {
    margin-top: 20px;
    text-align: center; }

.footer__homepage-button-submit {
  text-align: center;
  border-radius: 10px;
  height: 30px;
  padding: 2px;
  width: 8%;
  margin-top: 20px;
  display: block;
  margin: auto; }

/*footer*/
.footer__page-author {
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Great Vibes', cursive;
  font-size: 27px; }

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: auto; }

/*index*/
/* pagina principal inicio*/
.search {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  height: 1000px;
  width: 100%; }

.search__title {
  text-align: center;
  color: black;
  line-height: 100px;
  font-size: 40px; }

.search__select {
  border: white;
  background: black;
  color: white;
  font-size: 20px;
  height: 30px;
  padding: 2px;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 10px;
  opacity: 0.6; }

.search__select-options {
  color: white;
  text-align: center;
  opacity: 0.6; }

.search__button-submit {
  text-align: center;
  background-color: #111;
  color: white;
  border: white;
  font-size: 16px;
  height: 30px;
  padding: 2px;
  width: 8%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  opacity: 0.6; }

/*fotos de ciudades*/
.index__photo-atenas {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px; }

.index__title-atenas {
  position: absolute;
  top: 40%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 5px; }

.index__photo-jerusalen {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px; }

.index__title-jerusalen {
  position: absolute;
  top: 40%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 5px; }

.index__photo-londres {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px; }

.index__title-londres {
  position: absolute;
  top: 40%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 5px; }

.index__photo-roma {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px; }

.index__title-roma {
  position: absolute;
  top: 40%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 5px; }

.index__photo-tokio {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px; }

.index__title-tokio {
  position: absolute;
  top: 40%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 5px; }

.cities__index {
  background-image: url(../images/mapamundo.jpg);
  padding: 30px;
  background-attachment: fixed; }

/*cities atenas*/
.grid__atenas {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/atenas.jpg");
  background-position: center;
  background-size: cover;
  align-items: center; }

.title__atenas {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.description__atenas {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px; }

/*cities jerusalen*/
.grid__jerusalen {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/jerusalen.jpg");
  background-position: center;
  background-size: cover;
  align-items: center; }

.title__jerusalen {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.description__jerusalen {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px; }

/*cities londres*/
.grid__londres {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/londres2.jpg");
  background-position: top;
  background-size: cover;
  align-items: center; }

.title__londres {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.description__londres {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px; }

/*cities roma*/
.grid__roma {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/roma.jpg");
  background-position: top;
  background-size: cover;
  align-items: center; }

.title__roma {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.description__roma {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px; }

/*cities tokio*/
.grid__tokio {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/tokio.jpg");
  background-position: top;
  background-size: cover;
  align-items: center; }

.title__tokio {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.description__tokio {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px; }

/*galeria*/
.cities__photos-index {
  text-align: center; }

.cities___galery {
  background-image: url(/images/galerybackground3.jpg);
  background-attachment: fixed;
  padding: 30px; }

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 1s;
  border-radius: 15px; }

.col-lg-4 {
  padding: 7px;
  margin: 0 !important; }

.img:hover {
  transform: scale(1.05);
  z-index: 2; }

/* Atenas */
.atenas__info-title {
  display: grid;
  color: black;
  text-align: center;
  font-weight: bold; }

/* Titulo */
.atenas__title {
  display: grid;
  color: black;
  background-image: url("../images/atenas2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
  text-align: center;
  line-height: 1000px;
  font-size: 100px;
  font-family: 'Pacifico', cursive; }

/* Cultura */
.atenas__culture {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

.atenas__culture-description {
  display: grid;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/culturaAtenas.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 500px; }
  .atenas__culture-description-text {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto; }

/* Actividades */
.atenas__activities {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Delfos */
  /* Hodeon */
  /* Hidra */
  /* Phanatenaic */
  /* Zeus */
  /* Comidas */ }
  .atenas__activities-delfos {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitAtenasDelfos.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__activities-delfos-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__activities-hodeon {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitAtenasHodeondeHerodes.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__activities-hodeon-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__activities-hidra {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitAtenasHidra.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__activities-hidra-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__activities-phanatenaic {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitAtenasPanathenaicStadiumAtenas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__activities-phanatenaic-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__activities-zeus {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitAtenasZeusTemple.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__activities-zeus-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

.atenas__comida {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Psarosoupa */
  /*Tyropita*/
  /*Spanakopita*/
  /*Dolmades*/ }
  .atenas__comida-psarosoupa {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PsarosoupaAtenas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__comida-psarosoupa-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__comida-tyropita {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/tyropita.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__comida-tyropita-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__comida-spanakopita {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/spanakopitaAtenas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__comida-spanakopita-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .atenas__comida-dolmades {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/dolmadesAtenas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .atenas__comida-dolmades-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* jerusalen */
.jerusalen__info-title {
  display: grid;
  color: black;
  text-align: center;
  font-weight: bold; }

/* Titulo */
.jerusalen__title {
  display: grid;
  color: black;
  background-image: url("../images/jerusalen.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
  text-align: center;
  line-height: 1000px;
  font-size: 100px;
  font-family: 'Pacifico', cursive; }

/* Cultura */
.jerusalen__culture {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

.jerusalen__culture-description {
  display: grid;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/JerusalenCultura.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 500px; }
  .jerusalen__culture-description-text {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto; }

/* Actividades */
.jerusalen__activities {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Nazaret */
  /* Petra */
  /* Santo Sepulcro */ }
  .jerusalen__activities-nazaret {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitJerusalenNazaret.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__activities-nazaret-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .jerusalen__activities-petra {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitJerusalenPetra.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__activities-petra-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .jerusalen__activities-santosepulcro {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitJerusalenSantoSepulcroChurch.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__activities-santosepulcro-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* Comidas */
.jerusalen__comida {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Shawarma */
  /*Sabichor*/
  /*Labneh*/
  /*Halva*/ }
  .jerusalen__comida-shawarma {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/ShawarmaJerusalen.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__comida-shawarma-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .jerusalen__comida-sabichor {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/SabichorSabihJerusalen.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__comida-sabichor-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .jerusalen__comida-labneh {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/LabnehJerusalen.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__comida-labneh-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .jerusalen__comida-halva {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/HalvaJerusalen.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .jerusalen__comida-halva-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* londres */
.londres__info-title {
  display: grid;
  color: black;
  text-align: center;
  font-weight: bold; }

/* Titulo */
.londres__title {
  display: grid;
  color: black;
  background-image: url("../images/londres.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
  text-align: center;
  line-height: 1000px;
  font-size: 100px;
  font-family: 'Pacifico', cursive; }

/* Cultura */
.londres__culture {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

.londres__culture-description {
  display: grid;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/culturalondres.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 500px; }
  .londres__culture-description-text {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto; }

/* Actividades */
.londres__activities {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* London Eye */
  /* Shard */
  /* London Towers */
  /* Castle */ }
  .londres__activities-londoneye {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitLondresLondonEye.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__activities-londoneye-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__activities-shard {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitLondresShard.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__activities-shard-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__activities-towers {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitLondresTorres.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__activities-towers-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__activities-castle {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitLondresTorresWindorCastle.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__activities-castle-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* Comidas */
.londres__comida {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Pudding */
  /*steak*/
  /*roastbeef*/
  /*Fish and chips*/ }
  .londres__comida-pudding {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/YorkshirepuddingLondres.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__comida-pudding-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__comida-steak {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/SteakandkidneypieLondres.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__comida-steak-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__comida-roastbeef {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/RoastbeefLondes.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__comida-roastbeef-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .londres__comida-fishandchips {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/fishandchipsLondres.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .londres__comida-fishandchips-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* roma */
.roma__info-title {
  display: grid;
  color: black;
  text-align: center;
  font-weight: bold; }

/* Titulo */
.roma__title {
  display: grid;
  color: black;
  background-image: url("../images/roma2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
  text-align: center;
  line-height: 1000px;
  font-size: 100px;
  font-family: 'Pacifico', cursive; }

/* Cultura */
.roma__culture {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

.roma__culture-description {
  display: grid;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/CulturaRoma2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 500px; }
  .roma__culture-description-text {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto; }

/* Actividades */
.roma__activities {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Coliseo */
  /* Capilla Sixtina */
  /* Costa Amalfi */
  /* vaticano */ }
  .roma__activities-coliseo {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitRomaColiseo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__activities-coliseo-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__activities-capillasixtina {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitRomaCapillaSixtina.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__activities-capillasixtina-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__activities-amalfi {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitRomaCostaAmalfi.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__activities-amalfi-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__activities-vaticano {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitRomaVaticano.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__activities-vaticano-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* Comidas */
.roma__comida {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* porchetta */
  /*spaghetti*/
  /*suppli*/
  /*martiozzo*/ }
  .roma__comida-porchetta {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PORCHETTADIARICCIARoma2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__comida-porchetta-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__comida-spaghetti {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/spaghettiRoma.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__comida-spaghetti-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__comida-suppli {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/SUPPLÍALLAROMANARoma.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__comida-suppli-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .roma__comida-martiozzo {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/MARITOZZOCONLAPANNARoma.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .roma__comida-martiozzo-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* tokio */
.tokio__info-title {
  display: grid;
  color: black;
  text-align: center;
  font-weight: bold; }

/* Titulo */
.tokio__title {
  display: grid;
  color: black;
  background-image: url("../images/tokio.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
  text-align: center;
  line-height: 1000px;
  font-size: 100px;
  font-family: 'Pacifico', cursive; }

/* Cultura */
.tokio__culture {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

.tokio__culture-description {
  display: grid;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/culturaTokio.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 500px; }
  .tokio__culture-description-text {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border: 3px solid black;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto; }

/* Actividades */
.tokio__activities {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* Tokio Bay */
  /* Mar muerto */
  /* shinjuku */
  /* uenopark */ }
  .tokio__activities-bay {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitTokioBay.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__activities-bay-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__activities-marmuerto {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitTokioBayMarMuerto.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__activities-marmuerto-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__activities-shinjuku {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitTokioShinjukuGyoenNationalPark.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__activities-shinjuku-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__activities-uenopark {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/PlacesUMustVisitTokioUenoPark.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__activities-uenopark-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/* Comidas */
.tokio__comida {
  display: grid;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  /* tamagoyaki */
  /*sushi*/
  /*ramen*/
  /*gyoza*/ }
  .tokio__comida-tamagoyaki {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/tamagoyakiTokio.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__comida-tamagoyaki-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__comida-sushi {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/sushiTokio.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__comida-sushi-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__comida-ramen {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/RamenTokio.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__comida-ramen-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }
  .tokio__comida-gyoza {
    display: grid;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/gyozaTokio.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px; }
    .tokio__comida-gyoza-text {
      display: grid;
      background-color: rgba(255, 255, 255, 0.35);
      color: black;
      border: 3px solid black;
      padding: 10px;
      text-align: justify;
      font-size: 25px;
      font-weight: bold;
      overflow-x: hidden;
      overflow-y: auto; }

/*who are we*/
.timeline__atenas img {
  border-radius: 50%;
  margin-left: 8%;
  margin-top: -2.5%; }

.timeline__container-atenas-description {
  float: right;
  text-align: right;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: justify;
  color: black;
  border: 3px solid black;
  display: inline;
  position: absolute;
  border-radius: 50px;
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 10%; }

body {
  background-image: url(../images/mapamundo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto; }

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0; }

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

/* animacion de despliegue de ambos (derecha e izquierda) hacia arriba y abajo)*/
.container:nth-child(1) {
  animation-delay: 0s; }

.container:nth-child(2) {
  animation-delay: 1s; }

.container:nth-child(3) {
  animation-delay: 2s; }

.container:nth-child(4) {
  animation-delay: 3s; }

.container:nth-child(5) {
  animation-delay: 4s; }

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px; }

.left-container {
  left: 0; }

.right-container {
  left: 50%; }

.container img {
  position: absolute;
  width: 40px;
  border-radius: 27%;
  right: -20px;
  top: 32px;
  z-index: 10; }

.right-container img {
  left: -20px; }

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards; }

@keyframes moveline {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.text-box h2 {
  font-weight: 600; }

.text-box small {
  display: inline-block;
  margin-bottom: 15px; }

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px; }

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px; }

/*responsive*/
@media screen and (max-width: 576px) {
  .grid-img {
    left: 0; }
  .timeline {
    margin: 50px auto; }
  .timeline::after {
    left: 31px; }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px; }
  .text-box {
    font-size: 13px; }
  .text-box small {
    margin-bottom: 10px; }
  .right-container {
    left: 0; }
  .left-container img, .right-container img {
    left: 10px; }
  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px; } }

/* imagen y descripcion en who are we*/
.grid-img {
  display: grid;
  border-radius: 20px;
  border: solid 1px black;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.grid-desc {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px black;
  height: 250px;
  font-size: 22px;
  padding: 8px;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: auto;
  font-style: normal;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px; }

.item1 {
  grid-column-start: 3;
  grid-column-end: 8;
  background-image: url(../images/perfil.jpg);
  text-align: center; }

.item2 {
  grid-column-start: 3;
  grid-column-end: 8; }

@media only screen and (max-width: 768px) {
  .grid__atenas {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 20px; }
  .description__atenas {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px; }
  .title__atenas {
    font-size: 30px;
    margin: 10px; }
  .grid__jerusalen {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 20px; }
  .description__jerusalen {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px; }
  .title__jerusalen {
    font-size: 30px;
    margin: 10px; }
  .grid__londres {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 20px; }
  .description__londres {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px; }
  .title__londres {
    font-size: 30px;
    margin: 10px; }
  .grid__roma {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 20px; }
  .description__roma {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px; }
  .title__roma {
    font-size: 30px;
    margin: 10px; }
  .grid__tokio {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 20px; }
  .description__tokio {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px; }
  .title__tokio {
    font-size: 30px;
    margin: 10px; }
  .search {
    height: 500px; }
  .bar-btn {
    display: flex; }
  .nav__menu {
    display: none; }
  .nav__menu li {
    display: none;
    line-height: 20px;
    margin: 30px 0;
    transition: all .5s; }
  .nav__menu li a {
    font-size: 16px; }
  /* Atenas responsive */
  .atenas__title {
    height: 500px;
    line-height: 400px;
    font-size: 80px; }
  .atenas__culture {
    padding: 8px;
    font-size: 25px; }
    .atenas__culture-description {
      padding: 90px;
      height: 300px; }
      .atenas__culture-description-text {
        padding: 8px;
        font-size: 20px; }
  .atenas__activities {
    padding: 8px;
    font-size: 25px; }
    .atenas__activities-delfos {
      padding: 90px;
      height: 300px; }
      .atenas__activities-delfos-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__activities-hodeon {
      padding: 90px;
      height: 300px; }
      .atenas__activities-hodeon-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__activities-hidra {
      padding: 90px;
      height: 300px; }
      .atenas__activities-hidra-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__activities--phanatenaic {
      padding: 90px;
      height: 300px; }
      .atenas__activities--phanatenaic-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__activities-zeus {
      padding: 90px;
      height: 300px; }
      .atenas__activities-zeus-text {
        padding: 8px;
        font-size: 20px; }
  .atenas__comida {
    padding: 8px;
    font-size: 25px; }
    .atenas__comida-psarosoupa {
      padding: 90px;
      height: 300px; }
      .atenas__comida-psarosoupa-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__comida-tyropita {
      padding: 90px;
      height: 300px; }
      .atenas__comida-tyropita-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__comida-spanakopita {
      padding: 90px;
      height: 300px; }
      .atenas__comida-spanakopita-text {
        padding: 8px;
        font-size: 20px; }
    .atenas__comida-dolmades {
      padding: 90px;
      height: 300px; }
      .atenas__comida-dolmades-text {
        padding: 8px;
        font-size: 20px; }
  /* Jerusalen responsive */
  .jerusalen__title {
    height: 500px;
    line-height: 400px;
    font-size: 80px; }
  .jerusalen__culture {
    padding: 8px;
    font-size: 25px; }
    .jerusalen__culture-description {
      padding: 90px;
      height: 300px; }
      .jerusalen__culture-description-text {
        padding: 8px;
        font-size: 20px; }
  .jerusalen__activities {
    padding: 8px;
    font-size: 25px; }
    .jerusalen__activities-nazaret {
      padding: 90px;
      height: 300px; }
      .jerusalen__activities-nazaret-text {
        padding: 8px;
        font-size: 20px; }
    .jerusalen__activities-petra {
      padding: 90px;
      height: 300px; }
      .jerusalen__activities-petra-text {
        padding: 8px;
        font-size: 20px; }
    .jerusalen__activities-santosepulcro {
      padding: 90px;
      height: 300px; }
      .jerusalen__activities-santosepulcro-text {
        padding: 8px;
        font-size: 20px; }
    .jerusalen__activities .jerusalen__comida {
      padding: 8px;
      font-size: 25px; }
      .jerusalen__activities .jerusalen__comida-shawarma {
        padding: 90px;
        height: 300px; }
        .jerusalen__activities .jerusalen__comida-shawarma-text {
          padding: 8px;
          font-size: 20px; }
      .jerusalen__activities .jerusalen__comida-sabichor {
        padding: 90px;
        height: 300px; }
        .jerusalen__activities .jerusalen__comida-sabichor-text {
          padding: 8px;
          font-size: 20px; }
      .jerusalen__activities .jerusalen__comida-labneh {
        padding: 90px;
        height: 300px; }
        .jerusalen__activities .jerusalen__comida-labneh-text {
          padding: 8px;
          font-size: 20px; }
      .jerusalen__activities .jerusalen__comida-halva {
        padding: 90px;
        height: 300px; }
        .jerusalen__activities .jerusalen__comida-halva-text {
          padding: 8px;
          font-size: 20px; }
  /* Londres responsive */
  .londres__title {
    height: 500px;
    line-height: 400px;
    font-size: 80px; }
  .londres__culture {
    padding: 8px;
    font-size: 25px; }
    .londres__culture-description {
      padding: 90px;
      height: 300px; }
      .londres__culture-description-text {
        padding: 8px;
        font-size: 20px; }
  .londres__activities {
    padding: 8px;
    font-size: 25px; }
    .londres__activities-nazaret {
      padding: 90px;
      height: 300px; }
      .londres__activities-nazaret-text {
        padding: 8px;
        font-size: 20px; }
    .londres__activities-londoneye {
      padding: 90px;
      height: 300px; }
      .londres__activities-londoneye-text {
        padding: 8px;
        font-size: 20px; }
    .londres__activities-shard {
      padding: 90px;
      height: 300px; }
      .londres__activities-shard-text {
        padding: 8px;
        font-size: 20px; }
    .londres__activities-towers {
      padding: 90px;
      height: 300px; }
      .londres__activities-towers-text {
        padding: 8px;
        font-size: 20px; }
    .londres__activities-castle {
      padding: 90px;
      height: 300px; }
      .londres__activities-castle-text {
        padding: 8px;
        font-size: 20px; }
    .londres__activities .londres__comida {
      padding: 8px;
      font-size: 25px; }
      .londres__activities .londres__comida-pudding {
        padding: 90px;
        height: 300px; }
        .londres__activities .londres__comida-pudding-text {
          padding: 8px;
          font-size: 20px; }
      .londres__activities .londres__comida-steak {
        padding: 90px;
        height: 300px; }
        .londres__activities .londres__comida-steak-text {
          padding: 8px;
          font-size: 20px; }
      .londres__activities .londres__comida-roastbeef {
        padding: 90px;
        height: 300px; }
        .londres__activities .londres__comida-roastbeef-text {
          padding: 8px;
          font-size: 20px; }
      .londres__activities .londres__comida-fishandchips {
        padding: 90px;
        height: 300px; }
        .londres__activities .londres__comida-fishandchips-text {
          padding: 8px;
          font-size: 20px; }
  /* Roma responsive */
  .roma {
    height: 500px;
    line-height: 400px;
    font-size: 80px; }
  .roma__culture {
    padding: 8px;
    font-size: 25px; }
    .roma__culture-description {
      padding: 90px;
      height: 300px; }
      .roma__culture-description-text {
        padding: 8px;
        font-size: 20px; }
  .roma__activities {
    padding: 8px;
    font-size: 25px; }
    .roma__activities-coliseo {
      padding: 90px;
      height: 300px; }
      .roma__activities-coliseo-text {
        padding: 8px;
        font-size: 20px; }
    .roma__activities-capillasixtina {
      padding: 90px;
      height: 300px; }
      .roma__activities-capillasixtina-text {
        padding: 8px;
        font-size: 20px; }
    .roma__activities-amalfi {
      padding: 90px;
      height: 300px; }
      .roma__activities-amalfi-text {
        padding: 8px;
        font-size: 20px; }
    .roma__activities-vaticano {
      padding: 90px;
      height: 300px; }
      .roma__activities-vaticano-text {
        padding: 8px;
        font-size: 20px; }
    .roma__activities .roma__comida {
      padding: 8px;
      font-size: 25px; }
      .roma__activities .roma__comida-porchetta {
        padding: 90px;
        height: 300px; }
        .roma__activities .roma__comida-porchetta-text {
          padding: 8px;
          font-size: 20px; }
      .roma__activities .roma__comida-spaghetti {
        padding: 90px;
        height: 300px; }
        .roma__activities .roma__comida-spaghetti-text {
          padding: 8px;
          font-size: 20px; }
      .roma__activities .roma__comida-suppli {
        padding: 90px;
        height: 300px; }
        .roma__activities .roma__comida-suppli-text {
          padding: 8px;
          font-size: 20px; }
      .roma__activities .roma__comida-martiozzo {
        padding: 90px;
        height: 300px; }
        .roma__activities .roma__comida-martiozzo-text {
          padding: 8px;
          font-size: 20px; }
  /* Tokio responsive */
  .tokio__title {
    height: 500px;
    line-height: 400px;
    font-size: 80px; }
  .tokio__culture {
    padding: 8px;
    font-size: 25px; }
    .tokio__culture-description {
      padding: 90px;
      height: 300px; }
      .tokio__culture-description-text {
        padding: 8px;
        font-size: 20px; }
  .tokio__activities {
    padding: 8px;
    font-size: 25px; }
    .tokio__activities-delfos {
      padding: 90px;
      height: 300px; }
      .tokio__activities-delfos-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__activities-bay {
      padding: 90px;
      height: 300px; }
      .tokio__activities-bay-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__activities-marmuerto {
      padding: 90px;
      height: 300px; }
      .tokio__activities-marmuerto-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__activities-shinjuku {
      padding: 90px;
      height: 300px; }
      .tokio__activities-shinjuku-text {
        padding: 8px;
        font-size: 20px; }
  .tokio__comida {
    padding: 8px;
    font-size: 25px; }
    .tokio__comida-psarosoupa {
      padding: 90px;
      height: 300px; }
      .tokio__comida-psarosoupa-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__comida-tamagoyaki {
      padding: 90px;
      height: 300px; }
      .tokio__comida-tamagoyaki-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__comida-sushi {
      padding: 90px;
      height: 300px; }
      .tokio__comida-sushi-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__comida-ramen {
      padding: 90px;
      height: 300px; }
      .tokio__comida-ramen-text {
        padding: 8px;
        font-size: 20px; }
    .tokio__comida-gyoza {
      padding: 90px;
      height: 300px; }
      .tokio__comida-gyoza-text {
        padding: 8px;
        font-size: 20px; } }
