@media only screen and (max-width:768px){
    .grid__atenas {
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        padding: 20px;
      }
    .description__atenas{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
    }
    .title__atenas {
        font-size: 30px;
        margin: 10px;
    }


    .grid__jerusalen {
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        padding: 20px;
      }
    .description__jerusalen{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
    }
    .title__jerusalen {
        font-size: 30px;
        margin: 10px;
    }


    .grid__londres{
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        padding: 20px;
      }
    .description__londres{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
    }
    .title__londres {
        font-size: 30px;
        margin: 10px;
    }


    .grid__roma {
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        padding: 20px;
      }
    .description__roma{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
    }
    .title__roma {
        font-size: 30px;
        margin: 10px;
    }


    .grid__tokio {
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        padding: 20px;
      }
    .description__tokio{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
    }
    .title__tokio {
        font-size: 30px;
        margin: 10px;
    }

    .search {
        height: 500px;
    }

    .bar-btn{
        display: flex ;
    }

    .nav__menu{
        display: none;
    }

    .nav__menu li {
        display: none;
        line-height: 20px;
        margin: 30px 0;
        transition: all .5s;
    }

    .nav__menu li a{
        font-size: 16px;
    }
}


