/* Atenas */

.atenas__info-title{
    display: grid;
    color: black;
    text-align: center;
    font-weight: bold;
  }
  
  /* Titulo */
  
  .atenas__title{
    display: grid;
    color: black;
    background-image: url("../images/atenas2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
    text-align: center;
    line-height: 1000px;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    }
/* Cultura */
.atenas__culture {
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.atenas__culture-description{
    display: grid;
    color: white;
    background: $sombra, url("../images/culturaAtenas.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px;
            &-text{
                background-color: rgba(255, 255, 255, 0.35);
                color: black;
                border: 3px solid black; 
                padding: 10px;
                text-align: justify;
                font-size: 25px;
                font-weight: bold;
                overflow-x: hidden;
                overflow-y: auto;
              } 
}
    
  
  
  /* Actividades */
  
  .atenas__activities{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* Delfos */
    &-delfos{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitAtenasDelfos.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Hodeon */
    &-hodeon{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitAtenasHodeondeHerodes.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Hidra */
    &-hidra{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitAtenasHidra.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
      /* Phanatenaic */
    &-phanatenaic{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitAtenasPanathenaicStadiumAtenas.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Zeus */
    &-zeus{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitAtenasZeusTemple.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Comidas */

  }
  
  
  .atenas__comida{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* Psarosoupa */
    &-psarosoupa{
        display: grid;
        color: white;
        background: $sombra, url("../images/PsarosoupaAtenas.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Tyropita*/
    &-tyropita{
        display: grid;
        color: white;
        background: $sombra, url("../images/tyropita.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Spanakopita*/
    &-spanakopita{
        display: grid;
        color: white;
        background: $sombra, url("../images/spanakopitaAtenas.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Dolmades*/
    &-dolmades{
        display: grid;
        color: white;
        background: $sombra, url("../images/dolmadesAtenas.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
  }
  