/*galeria*/

.cities__photos-index{
    text-align: center;
}

.cities___galery{
    background-image: url(/images/galerybackgorund.jpg);
    background-attachment: fixed;
    padding: 30px;
}

.img {
    width: 574px;
    height: 300px;
    object-fit: cover;
    transition: 1s;
    border-radius: 15px; }

.col-lg-4{
   padding: 7px; 
   margin: 0 !important;
}

.img:hover{
    transform: scale(1.05);
    z-index: 2;   
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
  }
  
