/* jerusalen */

.jerusalen__info-title{
    display: grid;
    color: black;
    text-align: center;
    font-weight: bold;
  }
  
  /* Titulo */
  
  .jerusalen__title{
    display: grid;
    color: black;
    background-image: url("../images/jerusalen.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
    text-align: center;
    line-height: 1000px;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
  } 

    /* Cultura */
 .jerusalen__culture {
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.jerusalen__culture-description{
    display: grid;
    color: white;
    background: $sombra, url("../images/JerusalenCultura.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px;
            &-text{
                background-color: rgba(255, 255, 255, 0.35);
                color: black;
                border: 3px solid black; 
                padding: 10px;
                text-align: justify;
                font-size: 25px;
                font-weight: bold;
                overflow-x: hidden;
                overflow-y: auto;
              } 
}
  
  /* Actividades */
  
  .jerusalen__activities{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* Nazaret */
    &-nazaret{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitJerusalenNazaret.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Petra */
    &-petra{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitJerusalenPetra.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Santo Sepulcro */
    &-santosepulcro{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitJerusalenSantoSepulcroChurch.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    
  }
  
  /* Comidas */
  .jerusalen__comida{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* Shawarma */
    &-shawarma{
        display: grid;
        color: white;
        background: $sombra, url("../images/ShawarmaJerusalen.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Sabichor*/
    &-sabichor{
        display: grid;
        color: white;
        background: $sombra, url("../images/SabichorSabihJerusalen.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Labneh*/
    &-labneh{
        display: grid;
        color: white;
        background: $sombra, url("../images/LabnehJerusalen.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Halva*/
    &-halva{
        display: grid;
        color: white;
        background: $sombra, url("../images/HalvaJerusalen.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
  }