/* londres */

.londres__info-title{
    display: grid;
    color: black;
    text-align: center;
    font-weight: bold;
  }
  
  /* Titulo */
  
  .londres__title{
    display: grid;
    color: black;
    background-image: url("../images/londres.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
    text-align: center;
    line-height: 1000px;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
}
/* Cultura */
.londres__culture {
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.londres__culture-description{
    display: grid;
    color: white;
    background: $sombra, url("../images/culturalondres.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 160px;
    height: 500px;
            &-text{
                background-color: rgba(255, 255, 255, 0.35);
                color: black;
                border: 3px solid black; 
                padding: 10px;
                text-align: justify;
                font-size: 25px;
                font-weight: bold;
                overflow-x: hidden;
                overflow-y: auto;
              } 
}
  
  /* Actividades */
  
  .londres__activities{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* London Eye */
    &-londoneye{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitLondresLondonEye.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* Shard */
    &-shard{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitLondresShard.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /* London Towers */
    &-towers{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitLondresTorres.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
      /* Castle */
    &-castle{
        display: grid;
        color: white;
        background: $sombra, url("../images/PlacesUMustVisitLondresTorresWindorCastle.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
   
  }
   /* Comidas */
  .londres__comida{
    display: grid;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    /* Pudding */
    &-pudding{
        display: grid;
        color: white;
        background: $sombra, url("../images/YorkshirepuddingLondres.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*steak*/
    &-steak{
        display: grid;
        color: white;
        background: $sombra, url("../images/SteakandkidneypieLondres.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*roastbeef*/
    &-roastbeef{
        display: grid;
        color: white;
        background: $sombra, url("../images/RoastbeefLondes.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
    /*Fish and chips*/
    &-fishandchips{
        display: grid;
        color: white;
        background: $sombra, url("../images/fishandchipsLondres.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 160px;
        height: 500px;
        &-text{
            display: grid;
            background-color: rgba(255, 255, 255, 0.35);
            color: black;
            border: 3px solid black; 
            padding: 10px;
            text-align: justify;
            font-size: 25px;
            font-weight: bold;
            overflow-x: hidden;
            overflow-y: auto;
          }
      }
  }
  